<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="resources/css/bootstrap.css" rel="stylesheet">
    <link href="resources/css/bootstrap-sortable.css" rel="stylesheet">

    <!-- Custom styles for this template -->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Trachoma Tracker</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/form2">Form</a></li>
            <li><a href="/formandroid">Android Form</a></li>
            <li><a href="/results">Results</a></li>
            <li class="active"><a href="/dataset">Dataset</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
      <br><br><br><br>
        <h1>Patient Dataset</h1>
        <p class="lead">Data collected: </p>

        <table class="table table-bordered sortable" >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Age</th>
                    <th>Left Eye Grading</th>
                    <th>Left Eye Note</th>
                    <th>Left Eye Thumbnail</th>
                    <th>Right Eye Grading</th>
                    <th>Right Eye Note</th>
                    <th>Right Eye Thumbnail</th>
                    <th>Other Notes</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alazar Nemariam</td>
                    <td>Male</td>     
                    <td>43</td>
                    <td>TF</td>
                    <td>Text Info</td>
                    <td><img src="resources/img/guide2.png"width="85" height="60"/></td>
                    <td>CO</td>
                    <td>Right Eye Note</td>
                    <td><img src="resources/img/guide3.png"width="85" height="60" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Yordanos Senai</td>
                    <td>Female</td>     
                    <td>7</td>
                    <td>TF</td>
                    <td></td>
                    <td><img src="resources/img/guide1.png"width="85" height="60"/></td>
                    <td>None</td>
                    <td>Right Eye Note</td>
                    <td><img src="resources/img/guide3.png"width="85" height="60" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Zerezghi, Ammanuel</td>
                    <td>Male</td>     
                    <td>23</td>
                    <td>None</td>
                    <td></td>
                    <td><img src="resources/img/guide1.png"width="85" height="60"/></td>
                    <td>TS</td>
                    <td>Right Eye Note</td>
                    <td><img src="resources/img/guide4.png"width="85" height="60" /></td>
                    <td></td>
                </tr>

                {% for p in patients %}
                <tr>
                    <td>{{p.lastName}}, {{p.firstName}} - {{p.middleName}}</td>
                    <td>{{p.sex}}</td>     
                    <td>{{p.age}}</td>
                    <td>{{p.leftEyeRating}}</td>
                    <td>{{p.leftEyeNote}}</td>
                    <td><img src="/serve/{{p.leftEyePhotoURL}}"width="85" height="60"/></td>
                    <td>{{p.rightEyeRating}}</td>
                    <td>{{p.rightEyeNote}}</td>
                    <td><img src="/serve/{{p.rightEyePhotoURL}}"width="85" height="60"/></td>
                    <td>{{p.otherNotes}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
            <!-- <tbody>
                <tr>
                    <td>Alazar Nemariam</td>
                    <td>Male</td>     
                    <td>43</td>
                    <td>TF</td>
                    <td><img src="pics/guide2.png"width="85" height="60" /></td>
                </tr>
                
                <tr>
                    <td>Yordanos Senai</td>
                    <td>Female</td>
                    <td>9</td>
                    <td>TF</td>
                    <td><img src="pics/guide3.png"width="85" height="60" /></td>
                </tr>
                
                <tr>
                    <td>Ammanuel Zerezghi</td>
                    <td>Male</td>
                    <td>23</td>
                    <td>TS</td>
                    <td><img src="pics/guide4.png"width="85" height="60" /></td>
                </tr> <tr>
                    <td>Natsinet Berhane</td>
                    <td>Female</td>
                    <td>34</td>
                    <td>TI</td>
                    <td><img src="pics/guide5.png" width="85" height="60"/></td>
                    
                    
                </tr>
                 <tr>
                    <td>Feiven Tewolde</td>
                    <td>Female</td>     
                    <td>16</td>
                    <td>CO</td>
                    <td><img src="pics/guide6.png" width="85" height="60"/></td>
                </tr>
                
            </tbody> -->
        </table>
       
      
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="resources/js/jquery-1.9.1.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>

    <script src="resources/js/bootstrap-sortable.js"></script>
  </body>
</html>
