<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
	<meta name='apple-mobile-web-app-capable' content='yes'>
	<meta name='msapplication-tap-highlight' content='no'>
	<title>Form To JSON Submission</title>
	<link rel='stylesheet' href='resources/chui/chui.android-3.0.css'>
	<script src='resources/chui/chocolatechip-3.0.js'></script>
	<script src='resources/chui/chui-3.0.js'></script>
	<script type="text/javascript" src="resources/js/idbstore.min.js"></script>
	<script type="text/javascript" src="resources/js/app.js"></script>

   <style>

    	form li > label {
    		display: block;
    		-webkit-box-sizing: border-box;
    		width: 110px !important;
    		text-align: right;
    		font-weight: bold;
    		padding-right: 10px;
    		font-size: 14px;
    		line-height: 22px;
    		color: #586B96;
    	}
		form li > h3 {
			width: auto;
		}
    	form li > label > span.warning {
    		color: red;
    	}
    	form button[type=submit] {
    		display: none;
    	}

   </style>
   <script>
		window.onload = function () { 
			// window.addEventListener("DOMContentLoaded", init, false);​
			
			document.getElementById('inputRightEye').addEventListener('change', fileSelect, false);
			document.getElementById('inputLeftEye').addEventListener('change', fileSelect, false);
			var first = true;
			function fileSelect(evt) {
				if (window.File && window.FileReader && window.FileList && window.Blob) {
					// alert("HI");
					var files = evt.target.files;
					var result = '';
					var file;
					for (var i = 0; file = files[i]; i++) {
						// if the file is not an image, continue
						if (!file.type.match('image.*')) {
							continue;
						}
						reader = new FileReader();
						reader.onload = (function (tFile) {
							return function (evt) {
								var div = document.createElement('div');
								div.innerHTML = '<img style="width: 90px;" src="' + evt.target.result + '" />';
								if(first){
								document.getElementById('leftfilesInfo').appendChild(div);
								first = false;
								}
								else{
								document.getElementById('rightfilesInfo').appendChild(div);
								};
							};
						}(file));
						reader.readAsDataURL(file);
					}
				} else {
					alert('The File APIs are not fully supported in this browser.');
				}
			}

			if (window.File && window.FileReader && window.FileList && window.Blob) {
				document.getElementById('inputRightEye').onchange = function(){
					var files = document.getElementById('inputRightEye').files;
					for(var i = 0; i < files.length; i++) {
						resizeAndUpload(files[i]);
					}
				};
				document.getElementById('inputLeftEye').onchange = function(){
					var files = document.getElementById('inputRightEye').files;
					for(var i = 0; i < files.length; i++) {
						resizeAndUpload(files[i]);
					}
				};
			} else {
				alert('The File APIs are not fully supported in this browser.');
			}

			function resizeAndUpload(file) {
			var reader = new FileReader();
				reader.onloadend = function() {

				var tempImg = new Image();
				tempImg.src = reader.result;
				tempImg.onload = function() {

					var MAX_WIDTH = 400;
					var MAX_HEIGHT = 300;
					var tempW = tempImg.width;
					var tempH = tempImg.height;
					if (tempW > tempH) {
						if (tempW > MAX_WIDTH) {
						   tempH *= MAX_WIDTH / tempW;
						   tempW = MAX_WIDTH;
						}
					} else {
						if (tempH > MAX_HEIGHT) {
						   tempW *= MAX_HEIGHT / tempH;
						   tempH = MAX_HEIGHT;
						}
					}

					var canvas = document.createElement('canvas');
					canvas.width = tempW;
					canvas.height = tempH;
					var ctx = canvas.getContext("2d");
					ctx.drawImage(this, 0, 0, tempW, tempH);
					var dataURL = canvas.toDataURL("image/jpeg");

					// var xhr = new XMLHttpRequest();
					// xhr.onreadystatechange = function(ev){
						// document.getElementById('filesInfo').innerHTML = 'Done!';
					// };

					// xhr.open('POST', 'uploadResized.php', true);
					// xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
					var data = 'image=' + dataURL;
					console.log(data);
					// xhr.send(data);
				  }

			   }
			   reader.readAsDataURL(file);
			}
		};
		var serializedForm = null;	
      function submitForm() {
         var formData = $.form2JSON('#userForm');
         var data = JSON.stringify(formData);
         serializedForm = data;
         	 // serializedForm;
         enterData();
         // include function that clears form input fields here
         
          // window.location = 'form-target.html?' + data;
      }
        </script>


		</script>

		<script>

      $(function() {
		    $('.button.done').on('click', function() {
		        $('#userForm')[0].submit();
		        // form = $.form2JSON()
		    });

		

		    $('#selectList').UISelectList({ selected: 0, name:'sex' }); 
		    $('#selectList1').UISelectList({ selected: 0, name:'leftEyeRating' });    
		    $('#selectList2').UISelectList({ selected: 0, name:'rightEyeRating' }); 
		    
		    $('.button.cancel').on('click', function() {
		        window.location = 'index.html';
		        // form = $.form2JSON()
		    });    
      });
      var left;
      

   </script>
</head>
<body>
	<nav>
		<a class='button cancel'>Cancel</a>
		<h1>Document Trachoma</h1>
		<a class='button done'>Done</a>
	</nav>
	<article class='current'>
		<section>
			<div id="clear" class="">
		      <button onclick="app.clear()">Clear Store</button>
		    </div>
		    <div id="" class="">
		      <button onclick="upload()">Upload Store</button>
		    </div>


			<form id='userForm' action='javascript:submitForm()'>
				<h2>Personal Info</h2>
				<ul class='list'>
					<li class='comp'>
						<div>
							<h3>First name:</h3>
						</div>
						<aside>
							<input type="text" id="inputFirst" name="firstName" placeholder="John">
						 </aside>
					 </li>
					 <li class='comp'>
						<div>
							<h3>Middle name:</h3>
						</div>
						<aside>
							<input type="text" id="inputMiddle" name="middleName"  placeholder="Andrew">
						 </aside>
					 </li>
					 <li class='comp'>
					 	<div>
						  	<h3>Last name:</h3>
						</div>
						<aside>
						 	<input type="text" id="inputLast" name="lastName" placeholder="Doe">
						</aside>
					 </li>
					 <li class='comp'>
					 	<div>
							<h3>Aproximate Age:</h3>
					 	</div>
						<aside>
						 	<input type="text" id="inputDOB" input="age" name="age" placeholder="25"> 
						</aside>
					 </li>
				
				</ul>
				<h2>Sex</h2>
				<ul class='list' id='selectList'>	
					<li>
						<h3>Male</h3> 
						<input type='radio' name='sex' value='Male'>
					</li>
					<li>
						<h3>Female</h3> 
						<input type='radio' name='sex' value='Female'>
					</li>
					<li>
						<h3>Other</h3> 
						<input type='radio' name='sex' value='Other'>
					</li>
				</ul>
				<h2>Left Eye Photo</h2>
				
				<!-- <a class='button align-right' id="leftCapture">Take Picture</a> -->
				<input type="file" name="file" accept="image/*" name="inputLeftEye" id="inputLeftEye" capture="camera" />
				<output id="leftfilesInfo"></output>
				<h2>Left Eye Rating</h2>

				<ul class='list' id='selectList1'>	
					<li>
						<h3>TF</h3> 
						<input type='radio' name="leftEyeRating" value='None'>
					</li>
					<li>
						<h3>TF</h3> 
						<input type='radio' name="leftEyeRating" value='TF'>
					</li>
					<li>
						<h3>TI</h3> 
						<input type='radio' name="leftEyeRating" value='TI'>
					</li>
					<li>
						<h3>TS</h3> 
						<input type='radio' name="leftEyeRating" value='TS'>
					</li>
					<li>
						<h3>TT</h3> 
						<input type='radio' name="leftEyeRating" value='TT'>
					</li>
					<li>
						<h3>CO</h3> 
						<input type='radio' name="leftEyeRating" value='CO'>
					</li>					
				</ul>
				<!-- <h2>Left Eye Notes</h2> -->
				<ul class='list'>
					<li class='comp'>
						<div>
							<h3>Left Eye Notes:</h3>
					 	</div>
						<aside>
							<textarea id="inputLeftEyeNote" rows="3" name="leftEyeNote"></textarea>
					  		<!-- <input type='text' name='user.message' placeholder='Say someting:'> -->
						</aside>
					</li>
				</ul>
				<h2>Right Eye Photo</h2>
				
				<!-- <a class='button align-right' id="rightCapture">Take Picture</a> -->
				<input type="file" name="file" accept="image/*" name="inputRightEye" id="inputRightEye" capture="camera" />
				<!-- <canvas id="myCanvas" width="578" height="200"></canvas> -->
				
				<output id="rightfilesInfo"></output>


<!-- capture photo,
put in canvas,
resize it,
turn it into a string 
put in json with other fields
put that json in indexDB
then once online (check via xhr) post each item in indexDB
 -->

				<h2>Right Eye Rating</h2>

				<ul class='list' id='selectList2'>	
					<li>
						<h3>TF</h3> 
						<input type='radio' name="rightEyeRating" value='None'>
					</li>
					<li>
						<h3>TF</h3> 
						<input type='radio' name="rightEyeRating" value='TF'>
					</li>
					<li>
						<h3>TI</h3> 
						<input type='radio' name="rightEyeRating" value='TI'>
					</li>
					<li>
						<h3>TS</h3> 
						<input type='radio' name="rightEyeRating" value='TS'>
					</li>
					<li>
						<h3>TT</h3> 
						<input type='radio' name="rightEyeRating" value='TT'>
					</li>
					<li>
						<h3>CO</h3> 
						<input type='radio' name="rightEyeRating" value='CO'>
					</li>					
				</ul>
				<!-- <h2>Left Eye Notes</h2> -->
				<ul class='list'>
					<li class='comp'>
						<div>
							<h3>Right Eye Notes:</h3>
					 	</div>
						<aside>
							<textarea id="inputRightEyeNote" rows="3" name="rightEyeNote"></textarea>
					  		<!-- <input type='text' name='user.message' placeholder='Say someting:'> -->
						</aside>
					</li>
				</ul>
				<!-- <h2>Other Notes</h2> -->
				<ul class='list'>
					<li class='comp'>
						<div>
							<h3>Other Notes:</h3>
					 	</div>
						<aside>
							<textarea id="inputOtherNotes" rows="3" name="otherNotes"></textarea>
					  		<!-- <input type='text' name='user.message' placeholder='Say someting:'> -->
						</aside>
					</li>
				</ul>
				
				
			</form>
		</section>
	</article>
</body>
</html>